.accordion {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.accordion .item:first-child .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.accordion .item .title {
  background-color: #f6f6f6;
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.accordion .item:last-child .title {
  border: none;
}

.accordion .item .panel {
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: scroll;
}

.accordion .item.active .title {
  background-color: #eeeeee;
}

.accordion .item.active .panel {
  max-height: 120px;
  transition: max-height 0.25s ease-in;
}

.accordion .item p {
  padding: 0.5em;
}